.fotter {
  margin: 70px;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.footerContainer {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  gap: 56px;
  margin: 2.5rem 0 2.5rem;
  margin-top: 10rem;
  font-size: 0.8rem;
  line-height: 1.25rem;
}
.lorem {
  width: 60%;
}
.copy {
  text-align: center;
  margin-bottom: 50px;
}
.logo {
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
}
.comapany {
  margin: 1rem 0 1rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
