.header {
  padding: 20px 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.header h1 {
  margin-left: 70px;
}
.logo {
  font-size: 2.25rem;
  line-height: 2.5rem;
  cursor: pointer;
}
.navlink {
  margin-right: 60px;
  display: flex;
  align-items: center;
}
.navlink a {
  text-decoration: none;
  padding: 0 40px 0 10px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
}
.navlink a:hover {
  color: #577cff;
}
.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
}
.profileImag {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.btn {
  height: 40px;
  width: 163px;
  background-color: #577cff;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.5s;
}
.tocken {
  display: flex;
}
